.App {
  text-align: center;
  min-height: 100%;
  max-width: 80vw;
}
._Header {
  width: 60%;
  height: 120px;
  display: inline-flex;
  border-bottom: solid 1px silver;
  div {
    position: absolute;
    top: 20px;
    left: 14%;
    p {
      padding-left: 130px;
      font-size: 1.5em;
    }
  }
  .headerLogo {
    img {
      max-width: 40%;
    }
  }
}

._Footer {
  display: flex;
  justify-content: center;
  div {
    border-top: solid 1px silver;
    width: 60%;
    height: 70px;
  }
}

._MainPage {
  max-width: 100%;
  height: auto;
}
section {
  position: relative;
  left: 18%;
  ._Search {
    ._searchInput {
      display: flex;
      margin: 50px 0 0 38px;
      width: 550px;
      padding: 15px;
      font-size: 22px;
    }
    ._searchInput::placeholder {
      font-size: 22px;
    }
  }
}

._ProductList {
  position: absolute;
  left: 5%;
  div {
    max-width: 700px;
    display: block;
    justify-self: left;
    margin-left: 10px;
    img {
      margin-top: 40px;
      max-width: 100%;
      height: auto;
    }
    ._ItemsDesc {
      display: block;
      h1 {
        margin: 60px 0 0 20px;
        font-size: 2em;
      }
    }
  }
}

.ProductCart {
  .CartPage {
    .CartProducts {
      .cartItem {
        button {
          padding: 0px;
          width: 20px;
          height: 20px;
          border: 1px solid black;
          border-radius: 100%;
          background-color: white;
        }
      }
    }
  }
}
