.App {
  text-align: center;
  height: 100%;
}
._Header {
  width: 95%;
  height: 120px;
  display: inline-flex;
  border-bottom: solid 1px silver;
  div {
    position: absolute;
    top: 20px;
    left: 10px;
    p {
      padding-left: 130px;
      font-size: 1.5em;
    }
  }
  .headerLogo {
    img {
      max-width: 40%;
    }
  }
}

._Footer {
  display: flex;
  justify-content: center;
  div {
    border-top: solid 1px silver;
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 70px;
    p {
    }
  }
}
